:root{
  --Normal: #A8A77A;
  --Flying: #A98FF3;
  --Poison: #A33EA1;
  --Fire: #EE8130;
  --Electric: #F7D02C;
  --Water: #6390F0;
  --Grass: #7AC74C;
  --Ice: #96D9D6;
  --Ground: #E2BF65;
  --Fighting: #C22E28;
  --Psychic: #F95587;
  --Bug: #A6B91A;
  --Rock: #B6A136;
  --Ghost: #735797;
  --Dragon: #6F35FC;
  --Dark: #705746;
  --Steel: #B7B7CE;
  --Fairy: #D685AD;
}

body{
  padding: .5% 1.5% 1.5% 0% !important;
}

/* NavBarContainer, LoginNavbar */
.ui.header.logo:hover, .ui.secondary.menu .item.loginButtons:hover{
  background: rgba(0,0,0,.05);
  color: rgba(0,0,0,.95);
  cursor: pointer;
}

/* Pokemon Preview */xw

.pokemonTile{
  margin-bottom: 2%;
}

.item.Normal{
  border-left: 2px solid var(--Normal);
}
.item.Flying{
  border-left: 2px solid var(--Flying);
}
.item.Poison{
  border-left: 2px solid var(--Poison);
}
.item.Fire{
  border-left: 2px solid var(--Fire);
}
.item.Electric{
  border-left: 2px solid var(--Electric);
}
.item.Water{
  border-left: 2px solid var(--Water);
}
.item.Grass{
  border-left: 2px solid var(--Grass);
}
.item.Ice{
  border-left: 2px solid var(--Ice);
}
.item.Ground{
  border-left: 2px solid var(--Ground);
}
.item.Fighting{
  border-left: 2px solid var(--Fighting);
}
.item.Psychic{
  border-left: 2px solid var(--Psychic);
}
.item.Bug{
  border-left: 2px solid var(--Bug);
}
.item.Rock{
  border-left: 2px solid var(--Rock);
}
.item.Ghost{
  border-left: 2px solid var(--Ghost);
}
.item.Dragon{
  border-left: 2px solid var(--Dragon);
}
.item.Dark{
  border-left: 2px solid var(--Dark);
}
.item.Steel{
  border-left: 2px solid var(--Steel);
}
.item.Fairy{
  border-left: 2px solid var(--Fairy);
}

/* Canvas */
#canvas{
  margin: auto;
  width: 40vw;
  height: 40vw;
}

.pixel{
  float: left;
  width: 2.5vw;
  height: 2.5vw;
  background-size: cover;
}


.trainer{
  background-image: url("./Images/Trainer.png");
}

.CenterGrass{
  background-image: url("./Images/CenterGrass.png");
}
.BotGrass{
  background-image: url("./Images/BotGrass.png");
}
.GrassHorizontal{
  background-image: url("./Images/GrassHorizontal.png");
}
.TLGrass{
  background-image: url("./Images/TLGrass.png");
}
.TopGrass{
  background-image: url("./Images/TopGrass.png");
}
.TRGrass{
  background-image: url("./Images/TRGrass.png");
}
.BRGrass{
  background-image: url("./Images/BRGrass.png");
}
.BLGrass{
  background-image: url("./Images/BLGrass.png");
}
.RightGrass{
  background-image: url("./Images/RightGrass.png");
}
.LeftGrass{
  background-image: url("./Images/LeftGrass.png");
}
.CenterWater{
  background-image: url("./Images/Water.png");
}
.WaterfallTop{
  background-image: url("./Images/WaterfallTop.png");
}
.WaterfallBot{
  background-image: url("./Images/WaterfallBot.png");
}
.WaterTopRock{
  background-image: url("./Images/WaterTopRock.png");
}

.Bridge{
  background-image: url("./Images/Bridge.png");
}
.BridgeEndL{
  background-image: url("./Images/BridgeEndL.png");
}
.BridgeEndR{
  background-image: url("./Images/BridgeEndR.png");
}
.BridgeWater{
  background-image: url("./Images/BridgeWater.png");
}
.BridgeWater2{
  background-image: url("./Images/BridgeWater2.png");
}
.BridgeWater3{
  background-image: url("./Images/BridgeWater3.png");
}
.VBridge{
  background-image: url("./Images/VBridge.png");
}
.CenterBridge{
  background-image: url("./Images/CenterBridge.png");
}
.BotBridge{
  background-image: url("./Images/BotBridge.png");
}

.SFlowers{
  background-image: url("./Images/SFlowers.png");
}
.HRoad{
  background-image: url("./Images/HRoad.png");
}
.VRoad{
  background-image: url("./Images/VRoad.png");
}
.BRRoad{
  background-image: url("./Images/BRRoad.png");
}
.TreeLBase{
  background-image: url("./Images/TreeLBase.png");
}
.TreeRBase{
  background-image: url("./Images/TreeRBase.png");
}
.TreeLMid{
  background-image: url("./Images/TreeLMid.png");
}
.TreeRMid{
  background-image: url("./Images/TreeRMid.png");
}

.TempleBot{
  background-image: url("./Images/TempleBot.png");
}
.TempleWall{
  background-image: url("./Images/TempleWall.png");
}

.TempleBR{
  background-image: url("./Images/TempleBR.png");
}

.TempleL{
  background-image: url("./Images/TempleL.png");
}
.TempleWindow{
  background-image: url("./Images/TempleWindow.png");
}
.TempleDoor{
  background-image: url("./Images/TempleDoor.png");
}
.TempleSymbol{
  background-image: url("./Images/TempleSymbol.png");
}


.PinkFlowers2{
  background-image: url("./Images/PinkFlowers2.png");
}
.PinkFlowers3{
  background-image: url("./Images/PinkFlowers3.png");
}

.StairTL{
  background-image: url("./Images/StairTL.png");
}
.StairTop{
  background-image: url("./Images/StairTop.png");
}
.StairBot{
  background-image: url("./Images/StairBot.png");
}
.StairL{
  background-image: url("./Images/StairL.png");
}
.StairR{
  background-image: url("./Images/StairR.png");
}
.StairTR{
  background-image: url("./Images/StairTR.png");
}
.StairBL{
  background-image: url("./Images/StairBL.png");
}
.StairBR{
  background-image: url("./Images/StairBR.png");
}

.GrassRock{
  background-image: url("./Images/Rock.png");
}

.SandGrassT{
  background-image: url("./Images/SandGrassT.png");
}
.SandGrassTL{
  background-image: url("./Images/SandGrassTL.png");
}
.SandGrassTR{
  background-image: url("./Images/SandGrassTR.png");
}
.SandGrassTR2{
  background-image: url("./Images/SandGrassTR2.png");
}

.SandGrassL{
  background-image: url("./Images/SandGrassL.png");
}
.SandGrassR{
  background-image: url("./Images/SandGrassR.png");
}
.SandGrassBL{
  background-image: url("./Images/SandGrassBL.png");
}
.SandGrassBR{
  background-image: url("./Images/SandGrassBR.png");
}
.SandTR{
  background-image: url("./Images/SandTR.png");
}
.SandBL{
  background-image: url("./Images/SandBL.png");
}
.SandWaterB{
  background-image: url("./Images/SandWaterB.png");
}
.SandWaterBL{
  background-image: url("./Images/SandWaterBL.png");
}
.SandTR2{
  background-image: url("./Images/SandTR2.png");
}
.SandT{
  background-image: url("./Images/SandT.png");
}

.ShadowWater{
  background-image: url("./Images/ShadowWater.png");
}

.DarkWater{
  background-image: url("./Images/DarkWater.png");
}
.DarkWaterT{
  background-image: url("./Images/DarkWaterT.png");
}
.DarkWaterTR{
  background-image: url("./Images/DarkWaterTR.png");
}
.DarkWaterB{
  background-image: url("./Images/DarkWaterB.png");
}
.DarkWaterR{
  background-image: url("./Images/DarkWaterR.png");
}
.DarkWaterL{
  background-image: url("./Images/DarkWaterL.png");
}
.DarkWaterBR{
  background-image: url("./Images/DarkWaterBR.png");
}
.DarkWaterTL2{
  background-image: url("./Images/DarkWaterTL2.png");
}
.DarkWaterTR2{
  background-image: url("./Images/DarkWaterTR2.png");
}
.DarkWaterBL2{
  background-image: url("./Images/DarkWaterBL2.png");
}


/* Pokemon Card */
.type{
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  display: inline-block;
  width: 25%;
}

.type.Normal{
  background-color: var(--Normal);
}
.type.Flying{
  background-color: var(--Flying);
}
.type.Poison{
  background-color: var(--Poison);
}
.type.Fire{
  background-color: var(--Fire);
}
.type.Electric{
  background-color: var(--Electric);
}
.type.Water{
  background-color: var(--Water);
}
.type.Grass{
  background-color: var(--Grass);
}
.type.Ice{
  background-color: var(--Ice);
}
.type.Ground{
  background-color: var(--Ground);
}
.type.Fighting{
  background-color: var(--Fighting);
}
.type.Psychic{
  background-color: var(--Psychic);
}
.type.Bug{
  background-color: var(--Bug);
}
.type.Rock{
  background-color: var(--Rock);
}
.type.Ghost{
  background-color: var(--Ghost);
}
.type.Dragon{
  background-color: var(--Dragon);
}
.type.Dark{
  background-color: var(--Dark);
}
.type.Steel{
  background-color: var(--Steel);
}
.type.Fairy{
  background-color: var(--Fairy);
}


.ui.basic.segment.bordered{
  border-style: solid;
  border-color: red;
}

#pokemon-info{
  margin: 0px;
  padding: 0px;
}

.run-away{
  width: 50%;
}

#bag{
  text-align: left;
  width: 50%;
  display: inline-block;
}
